.eCard{
    height: 6.5rem;
    width: 20rem;
    border: 0.01rem solid transparent;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    box-sizing:content-box;
    background-color: ghostwhite;
    box-shadow: 0.15rem 0.15rem #d2d2da;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
}

.cardImg{
    height: 5.5rem;
    width: 5.5rem;
    clip-path: circle(50%);
}

.cardBody{
    height: inherit;
    width:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

.cardText{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}

.cardTextPara{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardText .boldText{
    font-size:1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.cardText p{
    margin: 0;
    padding: 0;
}

.cardBtn{
    color:#7562E0;
    padding: 0.18rem 0.8rem !important;
    background-color:#fff;
    border: 0.12rem solid #7562E0;
    font-weight: 300;
    border-radius: 0.3rem;
    display: block;
    margin: auto;
}

.cardBtn:hover, .cardBtn:active{
    background-color: #6252bb;
    border-color: #6252bb;
    color: #fff;
}

@media all  and (max-width: 600px) {
    .eCard{
        width: 14rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardBody{
    height: fit-content;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
}