@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
.eCard{
    height: 7.5rem;
    width: 18rem;
    border: 0.01rem solid transparent;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    background-color: ghostwhite;
    box-shadow: 0.1rem 0.1rem #d2d2da;
    margin: 1rem 1rem 1rem 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.cardImg{
    height: 5.5rem;
    width: 5.5rem;
    clip-path: circle(50%);
}

.cardBody{
    height: fit-content;
    width:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

.cardText{
    display:flex;
    flex-direction: column;
}

.cardTextPara{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0.02rem;
}

.cardText .boldText{
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.cardBtn{
    color: #fff;
    width: 4.5rem;
    background-color: #7562E0;
    padding: 0.1rem 0.1rem;
    border: 0.2rem solid #7562E0;
    border-radius: 2rem;
    display: block;
    margin: auto;
}

.cardBtn:hover{
    background-color: #6252bb;
    border-color: #6252bb;
}